@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

:root {
  background-color: rgb(29, 29, 29);
}

.parent{
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.Card {
  display: flex;
  width: 40vh;
  height: 47vh;
  background-color: white;
  margin: 20px;
  border-radius: 30px;
  flex-direction: column;
}

.top {
  display: flex;
  margin: 20px;
  justify-content: space-between;
  align-items: center;
}

.top .Save {
  color: #b4b4b4;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 9px;
  font-weight: 200;
  border: 1px solid;
  border-radius: 6px;
  padding: 2px;
  background-color: #f2f2f2;
  width: 60px;
  margin-bottom: 26px;
}

.top-img {
  width: 50px;
  height: 50px;
  border-radius: 30px;
  border: 2px solid #767676;
  display: flex;
  align-items: center;
  justify-content: center;
}
.top img {
  width: 37px;
  border-radius: 30px;
}

.center {
  height: 160px;
  display: flex;
  flex-direction: column;
}

.center-1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 17px;
}

.center-1 h3 {
  font-size: 22px;
  padding-left: 20px;
  font-weight: 600;
  padding-right: 4px;
}

.center-1 h4 {
  font-size: 13px;
  font-weight: 400;
  padding-top: 6px;
}

.center-2 {
  font-size: 20px;
  padding-left: 18px;
  font-weight: 600;
}

.center-3 {
  margin-left: 25px;
}

.center-3 button {
  border: none;
  font-size: 13px;
  font-weight: 500;
  padding: 4px;
  border-radius: 4px;
  margin: 3px;
}

.bottom {
  display: flex;
  height: 85px;
  justify-content: space-around;
  align-items: center;
}

.bottom button {
  background-color: black;
  color: white;
  width: 98px;
  height: 36px;
  font-size: 12px;
  border-radius: 10px;
  cursor: pointer;
}

.bottom h3{
  font-size: 18px;
}
.bottom h4{
  font-size: 12px;
}
